---
import { navLinks } from "@data/navLinks";
import { Image } from "astro:assets";
import Search from "./Search.astro";
import DitIcon from "@icons/DitIcon.astro";
import WtsAppIcon from "@assets/icons/WtsApp.svg";
import MailIcon from "@assets/icons/Mail.svg";
import LogoFB from "@icons/LogoFB.astro";
import LogoIG from "@icons/LogoIG.astro";
import LogoLKIN from "@icons/LogoLKIN.astro";
import { SocialNetworksUrl } from "@data/socialNetworks";
---

<header
  class="pb-4 bg-[#0d2b4b] text-white my-0 flex flex-col items-center justify-center text-sm"
>
  <div class="bg-[#009ee2] w-full min-h-10">
    <div class="max-w-7xl flex flex-wrap items-center justify-between p-2 mx-auto my-0 gap-4">
      <ul class="flex gap-6">
        <li class="flex items-center gap-2">
          <Image src={WtsAppIcon} alt="WhatsApp" class="w-5 h-5" />
          <span>{SocialNetworksUrl.CelPhone}</span>
        </li>
        <li class="flex items-center gap-2">
          <Image src={MailIcon} alt="Correo" class="w-5 h-5" />
          <span>{SocialNetworksUrl.EmailDitGroup}</span>
        </li>
      </ul>
      <ul class="flex items-center gap-8">
        <a href={SocialNetworksUrl.Facebook} target="_blank">
          <LogoFB cls1="#162d4a" />
        </a>
        <a href={SocialNetworksUrl.Instagram} target="_blank">
          <LogoIG cls1="#162d4a" />
        </a>
        <a href={SocialNetworksUrl.LinkedIn} target="_blank">
          <LogoLKIN cls1="#162d4a" />
        </a>
      </ul>
    </div>
  </div>
  <nav class="flex items-center justify-around w-full max-w-7xl">
    <a class="w-16" href="/"><DitIcon /></a>
    <ul
      class="flex flex-wrap items-center justify-around w-2/3 font-semibold gap-2"
    >
      {
        navLinks.map((link) => (
          <a
            class="hover:text-[#009ee2] transition-colors duration-300"
            href={link.href}
          >
            {link.name}
          </a>
        ))
      }
    </ul>
    <Search />
  </nav>
</header>
