---
import Layout from "@layouts/Layout.astro";
import CardItem from "@components/about/CardItem.astro";
import { Image } from "astro:assets";
import {
  usAboutSection,
  ourProfessionalsAboutSection,
  howDoWeWorkAboutSection,
} from "@data/aboutSections";
import profesionales from "@assets/images/Gestion_de_equipos_en_un_mundo_mas_digital.webp";
import ServiceDit from "@components/global/ServiceDit.astro";
import ValuePropositionSection from "@components/about/ValuePropositionSection.astro";
---

<Layout>
  <section class="bg-secondary py-16">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-center text-3xl font-bold mb-14">NOSOTROS</h1>

      <article
        class="grid
          grid-cols-1
          grid-rows-auto
          gap-8
          mx-4
          md:grid-cols-2
          md:grid-rows-1"
      >
        <CardItem
          icon={usAboutSection[0].icon}
          title={usAboutSection[0].title}
          class="md:row-span-3"
        >
          <div class="flex flex-col gap-3">
            {
              usAboutSection[0].description.map((text) => (
                <p class="text-lg leading-5 mb-2 text-gray-700 ">{text}</p>
              ))
            }
          </div>
        </CardItem>

        <CardItem
          icon={usAboutSection[1].icon}
          title={usAboutSection[1].title}
          class="md:row-span-2"
        >
          {
            usAboutSection[1].description.map((text) => (
              <p class="text-lg leading-5 mb-2 text-gray-700">{text}</p>
            ))
          }
        </CardItem>

        <CardItem icon={usAboutSection[2].icon} title={usAboutSection[2].title}>
          {
            usAboutSection[2].description.map((text) => (
              <p class="text-lg leading-5 mb-2 text-gray-700">{text}</p>
            ))
          }
        </CardItem>
      </article>
    </div>
  </section>

  <section class="bg-white py-2 w-full">
    <div class="mx-auto px-4">
      <h1 class="text-center text-3xl font-bold mb-14">
        NUESTROS PROFESIONALES
      </h1>

      <div class="flex flex-wrap md:flex-nowrap items-center gap-4">
        <div class="flex justify-center md:justify-end w-full md:w-1/2">
          <Image
            src={profesionales}
            alt="Profesionales DIT"
            class="md:w-[540px] md:h-[360px] object-contain md:translate-x-[60px] z-0"
          />
        </div>

        <div class="flex justify-center md:justify-start w-full md:w-1/2">
          <div
            class="bg-white
              p-9
              shadow-md
              md:w-[485px]
              md:h-[280px]
              z-10
              flex
              items-center
              justify-center"
          >
            <p class="text-lg text-gray-700 leading-5 text-left">
              {ourProfessionalsAboutSection[0].description}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ServiceDit
    title="¿CÓMO TRABAJAMOS?"
    service={howDoWeWorkAboutSection}
    hasHover={true}
    hoverBgColor="#0d2b4b"
    hoverTextColor="#ffffff"
    hoverScale={true}
    bgColor="#f2f2f2"
    textColor="#0d2b4b"
    maxWidth="80rem"
  />
  <ValuePropositionSection title="PROPUESTA DE VALOR"
  />

  <hr class="py-5 w-0 h-0" />
</Layout>
