---
import Layout from "@layouts/Layout.astro";
import CardItem from "@components/about/CardItem.astro";
import { firstAboutSection } from "@data/aboutSections";
---

<Layout>
  <section class="bg-[#f2f2f2] py-15">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-center text-4xl font-bold mb-8">NOSOTROS</h1>


      <article
        class="
          grid 
          grid-cols-1 
          grid-rows-auto 
          gap-8 
          mx-auto

          md:grid-cols-2
          
          md:grid-rows-1
        "
      >
        <!-- ¿Quiénes somos? (col 1, filas 1-3 en md) -->
        <CardItem
          icon={firstAboutSection[0].icon}
          title={firstAboutSection[0].title}
          class="md:row-span-3"
        >
        <div class="flex flex-col gap-3">
          {firstAboutSection[0].description.map((text) => (
            <p class="text-lg leading-5 mb-2 text-gray-700">{text}</p>
          ))}
        </div>
        </CardItem>

        <!-- Misión (col 2, filas 1-2 en md) -->
        <CardItem
          icon={firstAboutSection[1].icon}
          title={firstAboutSection[1].title}
          class="md:row-span-2"
        >
          {firstAboutSection[1].description.map((text) => (
            <p class="text-lg leading-5 mb-2 text-gray-700">{text}</p>
          ))}
        </CardItem>

        <!-- Visión (col 2, fila 3 en md) -->
        <CardItem
          icon={firstAboutSection[2].icon}
          title={firstAboutSection[2].title}
        >
          {firstAboutSection[2].description.map((text) => (
            <p class="text-lg leading-5 mb-2 text-gray-700">{text}</p>
          ))}
        </CardItem>
      </article>
    </div>
  </section>

  <section class="bg-white py-12 w-full">
    <div class="max-w-[900px] mx-auto px-4">
      <h2 class="text-3xl font-semibold mb-4 text-gray-800">Otra Sección</h2>
      <p class="text-gray-600 leading-relaxed">
        Aquí puedes añadir más contenido sin el fondo gris.
      </p>
    </div>
  </section>
</Layout>
