---
interface Props {
  title: string;
  icon: any;
  hasHover?: boolean;
  hoverBgColor?: string;
  hoverTextColor?: string;
  hoverScale?: boolean;
  bgColor?: string;
  shadow?: boolean;
  textColor?: string;
}

const {
  title,
  icon: Icon,
  hasHover = false,
  hoverBgColor = "#000000",
  hoverTextColor = "#ffffff",
  hoverScale = false,
  bgColor = "#ffffff",
  shadow = true,
  textColor = "#3b4049",
} = Astro.props;
---

<article
  class={`
    w-44 
    p-4 
    rounded-lg 
    flex 
    flex-col 
    items-center 
    gap-4
    card-base
    ${shadow ? "shadow-md" : ""}
    ${hasHover ? "card-service" : ""}
    ${hasHover && hoverScale ? "hover:scale-110" : ""}
  `}
  style={`
    --base-bg: ${bgColor};
    --base-color: ${textColor};
    ${hasHover ? `--hover-bg:${hoverBgColor}; --hover-text:${hoverTextColor};` : ""}
  `}
>
  <Icon />
  <h3 class="text-xl text-center font-semibold">
    {title}
  </h3>
</article>

<style>
  .card-base {
    background-color: var(--base-bg, #ffffff);
    color: var(--base-color, #3b4049);
    transition: all 0.3s ease;
  }
  .card-service:hover {
    background-color: var(--hover-bg, #000000);
    color: var(--hover-text, #ffffff);
  }
</style>
