---
import type { ServiceItem } from "@/types/services";
import CardService from "./CardService.astro";

interface Props {
  title: string;
  service: ServiceItem[];
  hasHover?: boolean;
  hoverBgColor?: string;
  hoverTextColor?: string;
  hoverScale?: boolean;
  containerMaxW?: string;
  bgColor?: string;
  shadow?: boolean;
}

const {
  title,
  service,
  hasHover = false,
  hoverBgColor = '#000000',
  hoverTextColor = '#ffffff',
  hoverScale = false,
  containerMaxW = 'max-w-3xl',
  bgColor = 'bg-white',
  shadow = true,
} = Astro.props;
---

<h1 class="text-center text-3xl">{title}</h1>
<section
  class=`mx-auto my-5 flex flex-wrap gap-6 items-center justify-center ${containerMaxW}`
>
  {service.map(({ title, icon }) => (
    <CardService
      title={title}
      icon={icon}
      hasHover={hasHover}
      hoverBgColor={hoverBgColor}
      hoverTextColor={hoverTextColor}
      hoverScale={hoverScale}
      bgColor={bgColor}
      shadow={shadow}
      
    />
  ))}
</section>
